#outermost-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content-column {
  width: 600px;
  margin-top: 25px;
  padding-top: 20px;
}

#new-combo-form-header {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

#title {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 96px;
  font-weight: bold;
  font-family: Roboto, 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
}

.black {
  color: #111111;
}

.brown {
  color: #654321;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.input-label {
  font-size: 24px;
  margin-right: 10px;
}

.input-field {
  width: 400px;
  white-space: pre-wrap;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-left: 5px solid #654321;
  color: #111111;
}

#new-combo-form-spacer {
  margin-top: 40px;
}

#new-combo-form-submit-button {
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background-color: white;
  border: 5px solid #654321;
  border-radius: 3px;
}

#new-combo-form-submit-button:hover {
  color: white;
  background-color: #654321;
}
